[Unit]
Description=Email daily burn updates
Before=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/jschultz/src/firedata/DBCA
Environment=PATH=/home/jschultz/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/bash get_daily_burns_daemon.sh

[Install]
WantedBy=default.target
